<div class="main-error">Error: <%= data.error %></div>
<br>
<div class="error-buttons-container">
	<button autocomplete="off" class="fancy-button-orange" onclick="goToMainpage()">Go to main page</button>
</div>