<script type="text/javascript" src="/helpers.js"></script>
<link rel="stylesheet" type="text/css" href="/discord-wannabe.css">
<title><% if (data.channel){ %>#<%=data.channel.name%><% } else if (data.channels && data.channels[0]){ %><%=data.channels[0].guild.name%><% } %></title>
<meta charset="UTF-8">